:root {
  /* Color palette */
  --color-military-green: #4d784e;

  /* You can add more global variables here */
  --color-text: #333;
  --color-background: #fff;
  --font-primary: "Helvetica", Arial, sans-serif;
}

/* Global styles */
body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

/* Global link styling */
a,
a:visited {
  color: var(--color-military-green);
  text-decoration: underline;
  text-underline-offset: 2px;
}

a:hover {
  opacity: 0.8;
}
